<h2>Login</h2>
<p>login using your email</p>

<% if (locals.message) { %> <%= message %> <% } %>

<form action="/login" method="POST">
  <div>
    <label for="email">email</label>
    <input type="email" name="email" id="email" required />
  </div>

  <div>
    <label for="password">password</label>
    <input type="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>

Have no accounts<a href="/register">SignUp</a>
