<h2>Login</h2>
<p>login using your email</p>

<form action="post">
  <div>
    <label for="email">email</label>
    <input type="email" name="email" id="email" required />
  </div>

  <div>
    <label for="password">password</label>
    <input type="password" required />
  </div>
</form>
<button>
  <a href="/">Register</a>
</button>
