<h2>Register Page</h2>

<p>Pleases Register Now</p>
<form action="post">
  <div>
    <label for="name">Username</label>
    <input type="text" name="name" class="name" required />
  </div>

  <div>
    <label for="email">email</label>
    <input type="email" name="email" id="email" required />
  </div>

  <label for="password">password</label>
  <input type="password" name="password" id="password" required />
</form>
<button>
  <a href="/login">Login</a>
</button>
