<!-- <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/css/output.css" /> -->
<link rel="stylesheet" href="/css/output.css" />

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h2 class="text-2xl font-semibold mb-8 text-gray-800">Choose your role</h2>

  <div class="">
    <button>
      <a
        href="/supplier"
        class="hover:bg-slate-800 text-dark font-medium py-3 px-8 rounded-lg transition duration-200"
      >
        Supplier
      </a>
    </button>

    <button>
      <a
        href="/buyer"
        class="bg-slate-700 hover:bg-slate-800 font-medium py-3 px-8 rounded-lg transition duration-200"
      >
        Buyer
      </a>
    </button>
  </div>
</div>
